@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Road+Rage&family=Seaweed+Script&display=swap');

body {
  font-family: 'Lobster Two', cursive;
  font-size: 18px;
  line-height: 1.5;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  text-align: center;
}
.main {
  margin: 0 15px;
}
h1 {
  font-size: 40px;
  margin: 10px 0 30px;
}
ul {
  margin-bottom: 30px;
}
li {
  display: inline-block;
  border-bottom: 1px dashed rgb(5, 5, 5);
 
}
li+li {
  margin-left: 30px;
}

.text {
  border-bottom: 3px dotted rgb(240, 2, 2);
}
h2 {
  font-family: 'Seaweed Script', cursive;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;

}

.block-1 > p {
  border: 8px double #000;
  border-radius: 0% 100% 0% 100% / 46% 48% 52% 54% ;
  overflow: hidden;
  box-shadow: 5px 5px 5px 3px rgb(3, 3, 3), inset 5px 5px 10px 4px rgb(0, 0, 0);
 
}
.block-1 > img {
  border-radius: 79% 10% 33% 70% / 36% 72% 14% 44%;
  border: 3px dashed #000;
  box-shadow: 3px 3px 10px 10px rgb(2, 66, 33);
  
}
.block-2 > img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  overflow: hidden;
  outline: 8px dotted rgb(6, 54, 12);
  box-shadow: 3px 3px 10px 10px rgb(7, 32, 7);
}
.block-2 > p {
  opacity: 0.6;
  margin-bottom: 20px;
}
.span {
  outline: 5px dotted black;
}
.block-3 > p{
  border: 2px dashed #000;
  border-radius: 20px;
  box-shadow: inset 2px 2px 10px 5px #000, inset 2px 2px 10px 5px rgb(4, 58, 28);
  margin-bottom: 20px;
}
.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 7px 5px 8px 5px rgb(107, 103, 103);
  margin: 0 auto 40px;
}
.block-4 > p {
  opacity: 0;
}
.block-5 {
  display: none;
}
.footer {
  font-family: 'Road Rage', cursive;
  border: 20px solid transparent;
  word-spacing: 5px;
  letter-spacing: 4px;
}
footer > a {
  outline: 5px dashed rgb(0, 0, 0);
}